<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-jpg', class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>Thanks for visiting me at my website. Every time I work I have a great passion to do it. My years of experience are. 1. Video editor for 5 years with Adobe Premire. 2. Worked at a Bakery for a summer. 3. TKD for 4 years. 4. Did a summer camp on coding and still learning more now.5. Have been doing lawns for 5 years also. The thing I want to do when I get older is be a director and writer. </p>
      </div>
    </div>
  </div>
</div>